In [4]:
import math
import pandas as pd
import numpy as np


# /Users/dduru/PythonProjects/data/KNN/movie-recommended.csv 
# path = input('Enter file Path: ') 
# frame = pd.read_csv(path)



def distance(a, b):
    return math.sqrt(np.sum((a[2:] - b[2:]) ** 2))


def generate_distance_map(mID, frame):
    movie = frame[frame['ID'] == mID].iloc[0]
    
    distance_map = {}
    for index, row in frame.iterrows():
        if movie['ID'] != row['ID']:
            distance_map[row['ID']] = distance(movie, row)
        
    return distance_map


frame = pd.read_csv('/Users/dduru/PythonProjects/data/KNN/movie-recommended.csv')
movie_id = int(input('Enter Movie ID'))

distance_map = generate_distance_map(movie_id, frame)

sorted_distance_map = sorted(distance_map.items(), key=lambda item: item[1])
top_recommended_ids = [item[0] for item in sorted_distance_map[:5]]


frame[np.isin(frame['ID'], top_recommended_ids)]

,Name,ID,Year of Release,Comedy,Action,Drama,Romance,Horror,SciFi
1,Commando,2,1985,4,10,4,0,0,2
4,Lion King,5,1994,8,6,9,5,0,0
5,Matrix,6,1999,3,10,8,5,4,9
8,Titanic,9,1997,3,2,9,10,9,0
16,Aliens,17,1986,4,9,6,0,10,9